.App {
  text-align: center;
}

.color-boxes{
  margin: 0 auto;
  width: 97vw;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.box{
  width: 25%;
  height: 25%;
}

.box:hover {
opacity: 0.89;
}

